* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Josefin Sans', sans-serif;
  height: 100vh;
  background-color: #333;
}
ul,
li {
  list-style: none;
}
.Header {
  background-color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  /* box-shadow: 0 3px 5px 3px rgb(45, 116, 119); */
  border-bottom: 1px solid rgb(45, 116, 119);
}
h1 {
  color: rgb(45, 116, 119);
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
  border-bottom: 1px solid #777;
  padding: 5px 0;
}

.budget-row {
  width: 300px;
  margin: 20px 0;
  padding: 10px;
  /* background-color: white; */
  color: rgb(45, 116, 119);
  border-radius: 7px;
}

.income-border {
  border: 4px solid rgb(108, 255, 108);
}
.expense-border {
  border: 4px solid rgb(124, 3, 3);
}
.budget-inner {
  display: flex;
  justify-content: space-between;
}
.total {
  background-color: transparent;
}
.total .budget-inner {
  display: flex;
  justify-content: space-around;
}
.budget-inner span {
  font-size: 20px;
  font-weight: bold;
}
.budget-inner span:nth-child(2) {
  color: white;
}

/* form-budget */

.form-budget {
  width: 100%;
  padding: 30px 0;
  background-color: #333;
  display: flex;
  justify-content: center;
  /* box-shadow: 0 3px 5px 3px rgb(45, 116, 119); */
  border-bottom: 1px solid rgb(45, 116, 119);
}
.form-budget input {
  margin: 0 10px;
  width: 200px;
  padding: 0 8px;
  height: 40px;
  border-radius: 7px;
  border: 2px solid rgb(45, 116, 119);
  outline: none;
  background-color: transparent;
  color: white;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}
.form-budget input::placeholder {
  color: white;
  font-size: 16px;
  font-family: 'Josefin Sans', sans-serif;
}
.select {
  height: 40px;
  width: 60px;
  border-radius: 7px;
  font-size: 18px;
  background-color: rgb(45, 116, 119);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
}

button {
  width: 60px;
  height: 40px;
  border-radius: 7px;
  font-size: 16px;
  background-color: rgb(45, 116, 119);
  color: white;

  border: none;
  outline: none;
}
/* list-budget */

.list-budget {
  background-color: #333;
  padding: 30px 0;
  /* box-shadow: 0 3px 5px 3px rgb(45, 116, 119); */
}
.list-wrapper {
  padding: 0 20px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.income h2,
.expense h2 {
  color: rgb(45, 116, 119);
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.income ul li,
.expense ul li {
  margin: 20px 0;
  border-bottom: 2px solid rgb(45, 116, 119);
  color: white;
  font-size: 18px;
  padding-bottom: 5px;
  display: flex;
  justify-content: space-around;
  min-width: 200px;
  cursor: pointer;
}
.income ul li span,
.expense ul li span {
  padding: 0 20px;
}
.income ul li i,
.expense ul li i {
  color: white;
  font-size: 50px;
  font-style: normal;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10px;
  transition: 0.3s;
}
.income ul li:hover i,
.expense ul li:hover i {
  color: rgb(124, 3, 3);
}

/* responsive */

@media (max-width: 425px) {
  .form-budget {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .form-budget form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  .form-budget form input {
    margin: 10px 0;
  }
}
